.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.controls {
  margin-bottom: 0.5em;
}

.row {
  width: 100%;
}

.scroll {
  white-space: nowrap;
  overflow: auto;
  padding: 3em 0;
}

.number {
  display: inline-block;
  font-size: 2em;
  width: 3em;
  height: 2em;
  line-height: 2em;
}

.number.active {
  color: yellow;
  background-color: #383e4b;
  transition: all 300ms;
}
